{% extends 'base.html.twig' %}

{% block title %}Hello DropController!{% endblock %}

{% block body %}

    <div class="container-fluid" style="width: 400px; margin: 0 auto; padding-top: 200px">
    <form action="{{ path('dropvideo') }}" method="POST" class="form-inline">
    <div class="form-group mb-2">
        <label> Ajouter une vidéo a Drop</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="inputVideo" placeholder="Nom du fichier">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Envoyer</button>
    </form>

    <form action="{{ path('dropson') }}" method="POST" class="form-inline">
    <div class="form-group mb-2">
        <label> Ajouter un son a Drop</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="inputSon" placeholder="Nom du fichier">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Envoyer</button>
    </form>



    <form action="{{ path('dropimage') }}" method="POST" class="form-inline">
    <div class="form-group mb-2">
        <label> Ajouter une image a Drop</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="inputPhoto" placeholder="Nom du fichier">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Envoyer</button>
    </form>
</div>





{% endblock %}
